.save{
    font-size: 17px;
}
.delete{
    font-size:20px;
    margin-left: 5px;
    color:red !important;
}
.edit{
    font-size: 18px;
}
.selected {
    background: hsl(0, 0%, 90%);
}
.readOnly {
    
    border: none;
    width: 90%;
    text-overflow: ellipsis;
}